.containerServ {
    padding-top: 70px;
}
.btnWrap {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(241, 55, 151, 0.5);
}
.servItem{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.servContent {
    font-size: 25px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 420px;
    height: 400px;
    border: 1px solid rgba(241, 55, 151, 0.5);
    border-radius: 50%;
}
.servImg {
    width: 400px;
}
.servBtnDefault {
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
    padding: 20px;
    cursor: pointer;
}
.servBntActive {
    font-size: 20px;
    color: #f13797;
    background-color: transparent;
    border-color: transparent;
    padding: 20px;
    cursor: pointer;
}
