
.containerAccordion {
    padding-top: 70px;
}
.accordionItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.title {
    font-size: 20px;
    padding: 25px 0;
    font-weight: 200;
}
.activeItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    border-top: 1px solid rgba(241, 55, 151, 0.5);
    cursor: pointer;
}

.defaultItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    border-top: 1px solid rgba(241, 55, 151, 0.5);
    cursor: pointer;
}

.content {
    padding: 15px 0;
    font-weight: 300;
}
.activeArrow{
    transform: rotate(45deg);
    color: #f13797;
}
.defaultArrow {
    transform: rotate(0deg);
    color: #f13797;
}