* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Manrope', sans-serif;
    background: #faf9f7;
    color: #2A2325;
    font-size: 18px;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
}
